/!BugGrabber
/.kiro
/.vscode
/AddonMrgl
/AI_VoiceOver
/AI_VoiceOverData_Vanilla
/AuraDurations
/Baganator
/BetterBlizzFrames
/BetterBlizzPlates
/BugSack
/CharacterStatsClassic
/ClamPulp
/ColoredInventoryItems
/Details
/Details_Compare2
/Details_DataStorage
/Details_EncounterDetails
/Details_RaidCheck
/Details_Streamer
/Details_TinyThreat
/Details_Vanguard
/DragonflightUI
/GatherMate2
/GatherMate2_Data
/Leatrix_Maps
/Leatrix_Plus
/LoCA
/ModernTargetFrame
/oGlowClassic
/OmniCC
/OmniCC_Config
/PetLevelBadge
/Questie
/RangeColorPlus
/RangeColorSkills
/RXP Leveling
/RXPGuides
/SimpleActionRange
/Syndicator
/Tamed
/tullaRange
/tullaRange_Config
/UltraHardcore
/WeakAuras
/WeakAurasArchive
/WeakAurasModelPaths
/WeakAurasOptions
/WeakAurasTemplates
/WeaponSwingTimer
/WhatsTraining